<html>
	<head>
		<link href="/css/application.css" rel="stylesheet" type="text/css">
	</head>

	<body>

<form action="/register" method="POST">
<input type="text" name="name" placeholder="Who are you? You who think you can challenge me?">
<button>Play!</button> 
</body>

</html>