<html>
	<head>
		<link href="/css/application.css" rel="stylesheet" type="text/css">
	</head>

	<body>

<form action="/register" method="POST">
<h1><input type="text" name="name" placeholder="Who are you?"></h1>
<button>Let's begin!</button> 
</body>

</html>