RESULTS:
<% if @game.winner == "Draw" %>
 <h1> You mean you'll put your rock down and I'll put down my sword, and we will try and kill each other like civilised people? </h1>
 <% elsif @game.winner.name == "computer" %>
 <h1> My name is Inigo Montoya. You killed my father, prepare to die! <%= @game.winner.pick %></h1>
<% else %>
<h1> Simply inconceivable! <%= @game.winner.pick %> </h1>
<%end%>


